/* this is the main css now */ 
#animalDisplay {
    text-align: center;
}
h1, h2 {
    text-align: center;
}
#description {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-bottom: 10px;
    border: 5px solid black;
    background-color: ivory;
}
#similar {
    width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-bottom: 10px;
    border: 5px solid grey;
    text-align: center;
    background-color: ivory;
}
footer {
    text-align: center;
}

html{
    background-color: darkseagreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#header{
   
   text-align: center;
   font-size: 70px;
   font-weight: bold;
   font-style: italic;
}
#TheList{
 text-align: left;
 text-size-adjust: 50px;
 position: fixed;
 border:5px double #000000 ;
 padding-right: 15px;
 margin: 50px;
 background-color: ivory;
  list-style-type: circle;

}
#homeBtn {
 color: black;
 margin-left: 52px;
 margin-top: 45px;
 position: fixed;
 background-color: ivory;
font-size: 24px;


}
#home {
    margin-left: 200px;
    color: black;
    background-color: ivory;
   font-size: 24px;
}
#like {
   color: black;
   width: 5%;
   position: absolute;
   right: 200px;
background-color:ivory;
font-size: 24px;

}
#more {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#moreDetail {
    color: black;
    background-color: ivory;
   font-size: 24px;
}
footer{
   text-align: center;
}
#animalDisplay img {
   width: 400px;
   height: 400px;
   margin-left: auto;
   margin-right: auto;
   display: inline-block;
   position: relative;
}
img {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    
}
#info {
   width: 500px;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
   border: 5px solid black;
   background-color: ivory;
}
div span {
    position: static;
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
    display: block;
}
a:link{
   color: black;
   size: 50px;
}
a:visited{
    color: black;
 }
 ul.a{
    list-style-type: circle;
   font-size: 27px; 
 }