/* this is the main css now */ 
#animalDisplay {
    text-align: center;
}
h1, h2 {
    text-align: center;
}
#description {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-bottom: 10px;
    border: 5px solid grey;
}
#similar {
    width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-bottom: 10px;
    border: 5px solid grey;
    text-align: center;
}
footer {
    text-align: center;
}

html{
    background-color: bisque;
}
#header{
   
   text-align: center;
   font-size: 70px;
   font-weight: bold;
   font-style: italic;
}
#TheList{
 text-align: left;
 position: fixed;
 border:5px dotted #000000 ;
 padding-right: 15px;
 margin: 50px;
 background-color: white;

}
#homeBtn {
 color: purple;
 margin-left: 52px;
 margin-top: 45px;
 position: fixed;
}
#home {
    margin-left: 200px;
    color: purple;
}
#like {
   color: purple;
   width: 5%;
   position: absolute;
   right: 200px;

}
#more {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: purple;
}
footer{
   text-align: center;
}
#animalDisplay img {
   width: 400px;
   height: 400px;
   margin-left: auto;
   margin-right: auto;
   display: inline-block;
   position: relative;
}
img {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}
#info {
   width: 500px;
   margin-left: auto;
   margin-right: auto;
   padding: 25px;
   border: 5px solid black;
   background-color: white;
}
div span {
    position: static;
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
    display: block;
}