html{
     background-color: bisque;
}
#header{
    
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
}
#TheList{
  text-align: left;
  position: fixed;
  border:5px dotted #000000 ;
  padding-right: 15px;
  margin: 50px;
  background-color: white;

}
#HomeBtn{
  color: purple;
  margin-left: 52px;
  margin-top: 45px;
  position: fixed;
}
#LikedBtn{
    color: purple;
    width: 5%;
    position: absolute;
    right: 200px;

}

footer{
    text-align: center;
}
img{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
}
#First2 {
    text-align: center;
}
#description {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border: 5px solid black;
}